/** Chat
--------------------------------------------------*/

#chat {
  // deleted messages
  .jplug-deleted-message {
    opacity: 0.3;
  }
  .jplug-deleted-message:hover {
    opacity: 1;
  }

  // log
  .jplug-log {
    // badges
    .badge-box {
      background: none;
      border-radius: 0;
    }
    &.sml {
      .badge-box {
        margin: 8px 0 0 15px;
        height: 16px;
        width: 16px;
      }
      .icon {
        height: 16px;
        width: 16px;
      }
    }

    @mixin icon($type) {
      .icon.icon-chat-#{$type} {
        background: url('https://juici.github.io/jPlug/icons/#{$type}.png');
      }
    }

    @include icon(star-white);
    @include icon(system-red);
    @include icon(system-white);
    @include icon(tick-blue);
    @include icon(tick-white);
    @include icon(star-white);
    @include icon(x-grey);
    @include icon(x-white);

    // msg font weight
    .text {
      font-weight: 400;
    }

    // colors
    @mixin log($type, $color) {
      &.jplug-log-#{$type} {
        border-left: 3px solid $color;
        color: $color;
        font-weight: 700;
      }
    }

    @include log(blue, #00bde8);
    @include log(green, #90ad2f);
    @include log(yellow, #ffdd6f);
    @include log(red, #c42e3b);
  }
}
