/** Chat
--------------------------------------------------*/

#chat {
  // deleted messages
  .jplug-deleted-message {
    opacity: 0.3;
  }
  .jplug-deleted-message:hover {
    opacity: 1;
  }

  // log
  .jplug-log {
    // badges
    @mixin badge($size: 30px) {
      $halfsize: ($size / 2);
      position: absolute;
      top: calc(50% - #{$halfsize});
      left: ((46px / 2) - $halfsize);
    }

    .badge-box {
      @include badge(30px);
      background: none;
      border-radius: 0;
    }
    &.sml {
      $size: 16px;
      .badge-box {
        @include badge($size);
      }
      .badge-box, .icon {
        height: $size;
        width: $size;
      }
    }

    // icons
    @mixin icon($type) {
      .icon.icon-#{$type} {
        background: url('https://juici.github.io/jPlug/icons/#{$type}.png');
      }
    }

    @include icon('star-white');
    @include icon('system-red');
    @include icon('system-white');
    @include icon('tick-blue');
    @include icon('tick-white');
    @include icon('star-white');
    @include icon('x-grey');
    @include icon('x-white');

    // msg font weight
    .text {
      font-weight: 400;
    }

    // colors
    @mixin log($type, $color) {
      &.jplug-log-#{$type} {
        border-left: 3px solid $color;
        color: $color;
        font-weight: 700;
      }
    }

    @include log('blue', #00bde8);
    @include log('green', #90ad2f);
    @include log('yellow', #ffdd6f);
    @include log('red', #c42e3b);
  }
}
